@model ResultVM



<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>UserName</th>
                        <th>Correct Answers</th>
                        <th>TotalQuestions</th>
                        <th>Exam Category</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>UserName</th>
                        <th>Correct Answers</th>
                        <th>TotalQuestions</th>
                        <th>Exam Category</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var result in Model.ExamResults)
                    {
                        <tr>
                            <td>@result.Id</td>
                            @foreach (var item in Model.Users.Where(x=>x.Id == result.UserId))
                            {
                                <td>@item.UserName</td>
                            }
                            <td>@result.CorrectAnswers</td>
                            <td>@result.TotalQuestions</td>
                            @foreach (var item in Model.ExamCategories.Where(x => x.Id == result.ExamCategoryId))
                            {
                                <td>@item.CategoryName</td>
                            }
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>